USE [master]
/****** Object:  Database [ESCOLADEDANCA]    Script Date: 05/11/2014 19:46:46 ******/
CREATE DATABASE [ESCOLADEDANCA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESCOLADEDANCA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ESCOLADEDANCA.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ESCOLADEDANCA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ESCOLADEDANCA_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
ALTER DATABASE [ESCOLADEDANCA] SET COMPATIBILITY_LEVEL = 120
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESCOLADEDANCA].[dbo].[sp_fulltext_database] @action = 'enable'
end
ALTER DATABASE [ESCOLADEDANCA] SET ANSI_NULL_DEFAULT OFF 
ALTER DATABASE [ESCOLADEDANCA] SET ANSI_NULLS OFF 
ALTER DATABASE [ESCOLADEDANCA] SET ANSI_PADDING OFF 
ALTER DATABASE [ESCOLADEDANCA] SET ANSI_WARNINGS OFF 
ALTER DATABASE [ESCOLADEDANCA] SET ARITHABORT OFF 
ALTER DATABASE [ESCOLADEDANCA] SET AUTO_CLOSE OFF 
ALTER DATABASE [ESCOLADEDANCA] SET AUTO_CREATE_STATISTICS ON 
ALTER DATABASE [ESCOLADEDANCA] SET AUTO_SHRINK OFF 
ALTER DATABASE [ESCOLADEDANCA] SET AUTO_UPDATE_STATISTICS ON 
ALTER DATABASE [ESCOLADEDANCA] SET CURSOR_CLOSE_ON_COMMIT OFF 
ALTER DATABASE [ESCOLADEDANCA] SET CURSOR_DEFAULT  GLOBAL 
ALTER DATABASE [ESCOLADEDANCA] SET CONCAT_NULL_YIELDS_NULL OFF 
ALTER DATABASE [ESCOLADEDANCA] SET NUMERIC_ROUNDABORT OFF 
ALTER DATABASE [ESCOLADEDANCA] SET QUOTED_IDENTIFIER OFF 
ALTER DATABASE [ESCOLADEDANCA] SET RECURSIVE_TRIGGERS OFF 
ALTER DATABASE [ESCOLADEDANCA] SET  ENABLE_BROKER 
ALTER DATABASE [ESCOLADEDANCA] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
ALTER DATABASE [ESCOLADEDANCA] SET DATE_CORRELATION_OPTIMIZATION OFF 
ALTER DATABASE [ESCOLADEDANCA] SET TRUSTWORTHY OFF 
ALTER DATABASE [ESCOLADEDANCA] SET ALLOW_SNAPSHOT_ISOLATION OFF 
ALTER DATABASE [ESCOLADEDANCA] SET PARAMETERIZATION SIMPLE 
ALTER DATABASE [ESCOLADEDANCA] SET READ_COMMITTED_SNAPSHOT OFF 
ALTER DATABASE [ESCOLADEDANCA] SET HONOR_BROKER_PRIORITY OFF 
ALTER DATABASE [ESCOLADEDANCA] SET RECOVERY FULL 
ALTER DATABASE [ESCOLADEDANCA] SET  MULTI_USER 
ALTER DATABASE [ESCOLADEDANCA] SET PAGE_VERIFY CHECKSUM  
ALTER DATABASE [ESCOLADEDANCA] SET DB_CHAINING OFF 
ALTER DATABASE [ESCOLADEDANCA] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
ALTER DATABASE [ESCOLADEDANCA] SET TARGET_RECOVERY_TIME = 0 SECONDS 
ALTER DATABASE [ESCOLADEDANCA] SET DELAYED_DURABILITY = DISABLED 
EXEC sys.sp_db_vardecimal_storage_format N'ESCOLADEDANCA', N'ON'
USE [ESCOLADEDANCA]
/****** Object:  Table [dbo].[ALUNO]    Script Date: 05/11/2014 19:46:46 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
CREATE TABLE [dbo].[ALUNO](
	[ID_ALUNO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_ALUNO] [varchar](100) NOT NULL,
	[SEXO] [char](1) NULL DEFAULT (NULL),
	[DATA_NASC] [date] NULL,
	[RUA] [varchar](200) NULL DEFAULT (NULL),
	[BAIRRO] [varchar](45) NULL DEFAULT (NULL),
	[CIDADE] [varchar](45) NULL DEFAULT (NULL),
	[ESTADO] [varchar](45) NULL DEFAULT (NULL),
	[CEP] [varchar](45) NULL DEFAULT (NULL),
	[TELEFONE] [varchar](20) NULL DEFAULT (NULL),
	[ID_ENQUETE] [int] NOT NULL,
	[OPNIAO] [varchar](255) NULL DEFAULT (NULL),
	[CPF] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ALU_CPF] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING OFF
/****** Object:  Table [dbo].[CURSO]    Script Date: 05/11/2014 19:46:46 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
CREATE TABLE [dbo].[CURSO](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[VALOR_CURSO] [decimal](10, 2) NOT NULL,
	[DESC_CURSO] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SET ANSI_PADDING OFF
/****** Object:  Table [dbo].[ENQUETE]    Script Date: 05/11/2014 19:46:46 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
CREATE TABLE [dbo].[ENQUETE](
	[ID_ENQUETE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO_ENQUETE] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENQUETE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SET ANSI_PADDING OFF
/****** Object:  Table [dbo].[MATRICULA]    Script Date: 05/11/2014 19:46:46 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MATRICULA](
	[ID_MATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUNO] [int] NOT NULL,
	[DATA_MATRICULA] [date] NULL,
	[DATA_PGTO] [date] NULL,
	[VALOR_PAGO_MATRICULA] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[MATRICULA_TURMA]    Script Date: 05/11/2014 19:46:46 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MATRICULA_TURMA](
	[ID_MATRICULA_TURMA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATRICULA_ALUNO] [int] NOT NULL,
	[ID_TURMA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MATRICULA_TURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TURMA]    Script Date: 05/11/2014 19:46:46 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TURMA](
	[ID_TURMA] [int] IDENTITY(1,1) NOT NULL,
	[DATA_INICIO] [date] NOT NULL,
	[HORA_INICIO] [time](7) NOT NULL,
	[HORA_FIM] [time](7) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_CURSO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/11/2014 19:46:46 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_USUARIO] [varchar](100) NOT NULL,
	[CPF_USUARIO] [varchar](14) NOT NULL,
	[SENHA] [varchar](10) NOT NULL,
	[LOGIN_USUARIO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CPF_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LOGIN_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING OFF
ALTER TABLE [dbo].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_ALUNO_ID_ALUNO] FOREIGN KEY([ID_ALUNO])
REFERENCES [dbo].[ALUNO] ([ID_ALUNO])
ALTER TABLE [dbo].[MATRICULA] CHECK CONSTRAINT [FK_MATRICULA_ALUNO_ID_ALUNO]
ALTER TABLE [dbo].[MATRICULA_TURMA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_TURMA_MATRICULA_ID_MATRICULA] FOREIGN KEY([ID_MATRICULA_ALUNO])
REFERENCES [dbo].[MATRICULA] ([ID_MATRICULA])
ALTER TABLE [dbo].[MATRICULA_TURMA] CHECK CONSTRAINT [FK_MATRICULA_TURMA_MATRICULA_ID_MATRICULA]
ALTER TABLE [dbo].[MATRICULA_TURMA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_TURMA_TURMA_ID_TURMA] FOREIGN KEY([ID_TURMA])
REFERENCES [dbo].[TURMA] ([ID_TURMA])
ALTER TABLE [dbo].[MATRICULA_TURMA] CHECK CONSTRAINT [FK_MATRICULA_TURMA_TURMA_ID_TURMA]
ALTER TABLE [dbo].[TURMA]  WITH CHECK ADD  CONSTRAINT [FK_TURMA_DISCIPLINA_ID_DISCIPLINA] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSO] ([ID_CURSO])
ALTER TABLE [dbo].[TURMA] CHECK CONSTRAINT [FK_TURMA_DISCIPLINA_ID_DISCIPLINA]
ALTER TABLE [dbo].[TURMA]  WITH CHECK ADD  CONSTRAINT [FK_TURMA_USUARIO_ID_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
ALTER TABLE [dbo].[TURMA] CHECK CONSTRAINT [FK_TURMA_USUARIO_ID_USUARIO]
USE [master]
ALTER DATABASE [ESCOLADEDANCA] SET  READ_WRITE 
